/*  Cards */
ul {
	list-style-type: none;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 70px;
	align-items: stretch;
}

ul > li {
	display: block;
	background-color: #ffffff;
	padding: 2rem 2rem 2rem 1.2rem;
	position: relative;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

.postAndContract {
	display: flex;
	color: #6e8098;
}

.postedAt {
	margin-right: 0.5rem;
}

.contract {
	margin-left: 0.5rem;
}

.position {
	font-weight: 700;
	color: #19202d;
	margin: 10px 0;
	font-size: 1.2rem;
}

.company {
	color: #6e8098;
	margin-bottom: 40px;
}

.location {
	color: #5964e0;
	font-weight: 700;
}

.logo {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	position: absolute;
	top: -30px;
}

.cardContainer {
	margin-top: 5rem;
}
